.main__wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 130px 416px 593px;
    justify-content: space-between;

    @include tablet {
        padding: 0 4rem 4rem;
        grid-template-columns: 416px 504px;
        justify-content: space-around;
    }
    
    @include mobile {
        padding: 0 0 4rem;
        grid-template-columns: minmax(200px, 414px);
        justify-content: center;
    }
}