* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include mobile-small {
        font-size: 50%;
    }
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: $primaryGray;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}